.wpp-cards {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

    .wpp-cards li {
        display: flex;
        list-style: none;
        margin: 0 0 1.2rem 0;
        padding: 0 0 1rem 0;
        border-bottom: #ddd 1px solid;
    }

    .wpp-cards li:last-of-type,
    .wpp-cards li:only-child {
        margin: 0;
        padding: 0;
        border-bottom: none;
    }

        .wpp-cards li .wpp-thumbnail {
            overflow: hidden;
            display: inline-block;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: 1rem;
            font-size: 0.8rem;
            line-height: 1;
            background: #f0f0f0;
            border: none;
        }

        .wpp-cards li a {
            text-decoration: none;
        }

        .wpp-cards li a:hover {
            text-decoration: underline;
        }

        .wpp-cards li .category,
        .wpp-cards li .wpp-post-title {
            display: block;
            font-weight: bold;
        }

        .wpp-cards li .category {
            margin-bottom: 0.25rem;
            font-size: 0.7rem;
            line-height: 1;
        }

        .wpp-cards li .wpp-post-title {
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
            line-height: 1.2;
        }

        .wpp-cards li .wpp-excerpt {
            margin: 0;
            font-size: 0.8rem;
        }