.wpp_boxes {
	display:none;
	overflow:hidden;
	width:100%;
}

.wpp_box {
	overflow:hidden;
	display:inline;
	float:right;
	margin:0 0 15px 0;
	padding:10px;
	width:250px;
	background:#f9f9f9;
	border: 1px solid #ccc;
}

#wpp_donate { margin-top:15px; }

#wpp_advertisement { display:none; }

#wpp_advertisement, #wpp_support { clear:right; }

.clear {
	float:none;
	clear:both;
	width:100%;
}

	/* Stats */
	#wpp-stats-tabs {
		padding:2px 0;
	}
	
	#wpp-stats-canvas {
		overflow:hidden;
		padding:2px 0;
		width:100%;
	}

		.wpp-stats {
			display:none;
			width:96%px;
			padding:1% 0;
			font-size:8px;
			background:#fff;
			border:#999 3px solid;
		}
		
		.wpp-stats-active {
			display:block;
		}
		
			.wpp-stats ol {
				margin:0;
				padding:0;
			}
			
				.wpp-stats ol li {
					/*overflow:hidden;*/
					margin:0 8px 15px 30px;
					padding:0;
					font-size:12px;
					line-height:12px;
					color:#999;
					border-bottom:#eee 1px solid;
				}
				
					.wpp-post-title {
						/*display:inline;
						float:left;*/
						font-weight:bold;
					}
					
					.post-stats {
						display:block;
						padding:5px 0;
						font-size:0.9em!important;
						text-align:left;
						color:#999;
					}
				
			.wpp-stats-unique-item, .wpp-stats-last-item {
				margin-bottom:0!important;
				border:none!important;
			}
			
				.wpp-stats-unique-item .post-stats, .wpp-stats-last-item .post-stats { padding-bottom:0; }
			
			.wpp-stats p {
				margin:0;
				padding:0 8px;
				font-size:12px;
			}
	
	/* FAQ */		
	#wpp_faq {
	}
		
		#wpp_faq h4 {
			margin:18px 0 0 0;
		}
		
			#wpp_faq h4 a.active { color:#d74e21; }
	
		.wpp-ans {
			/*display:none;*/
			margin:5px 0 0 0;
			width:96%;
			padding:1% 2%;
			background:#e5e5e5;
		}
		
			.wpp-ans p {
				margin:0 0 0 0;
				padding:0;
			}