.wpp-cardview {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

    .wpp-cardview li {
        list-style: none;
        margin: 0 0 1.2rem 0;
        padding: 0 0 1rem 0;
        border-bottom: #ddd 1px solid;
    }

    .wpp-cardview li:last-of-type,
    .wpp-cardview li:only-child {
        margin: 0;
        padding: 0;
        border-bottom: none;
    }

        .wpp-cardview .wpp-thumbnail-container {
            position: relative;
            margin-bottom: .8rem;
        }

        .wpp-cardview li .wpp-thumbnail {
            overflow: hidden;
            display: block;
            margin: 0;
            width: 100%;
            height: auto;
            font-size: 0.8rem;
            line-height: 1;
            background: #f0f0f0;
            border: none;
        }

        .wpp-cardview li a {
            text-decoration: none;
        }

        .wpp-cardview li a:hover {
            text-decoration: underline;
        }

        .wpp-cardview li .category,
        .wpp-cardview li .wpp-post-title {
            display: block;
            font-weight: bold;
        }

        .wpp-cardview li .category {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 1em;
            color: #fff;
            font-size: 0.7rem;
            line-height: 1;
            background: rgba(0, 0, 0, 0.5);
        }

        .wpp-cardview li .category:hover {
            color: #fff;
            background: rgba(0, 0, 0, 0.8);
        }

        .wpp-cardview li .wpp-post-title {
            margin: 0 0 0.5rem;
            font-size: 1.2rem;
            line-height: 1.2;
        }

        .wpp-cardview li .wpp-excerpt {
            margin: 0;
            font-size: 0.8rem;
        }