/*
Wordpress Popular Posts plugin stylesheet
Developed by Hector Cabrera
cabrerahector.com | @cabrerahector

Use the following classes to style your popular posts list as you like.
*/

/* UL - Popular Posts container styles */
.wpp-list {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

    /* LI - Post container styles */
    .wpp-list li {
        list-style: none;
        margin: 0 0 1em;
        padding: 0;
    }

    .wpp-list-with-thumbnails li {
        display: flex;
        align-items: center;
    }

        /* Thumbnail styles */
        .wpp-thumbnail-wrapper {
            margin: 0 1em 0 0;
            line-height: 0;
        }

            .wpp-thumbnail {
                overflow: hidden;
                display: inline-block;
                margin: 0;
                line-height: 1;
                background: #f0f0f0;
                border: none;
            }

        .wpp-item-data {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        /* Title styles */
        .wpp-post-title {
            margin-bottom: 0.25em;
            font-weight: bold;
            line-height: 1.2;
        }

        /* Stats tag styles */
        .wpp-meta, .post-stats {
            display: block;
            font-size: 0.8em;
        }