.wpp-sunrise {
    counter-reset: wpp-counter;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    border-right: 6px solid rgb(255, 255, 124);
    box-sizing: border-box;
}

    .wpp-sunrise li {
        position: relative;
        display: flex;
        align-items: center;
        counter-increment: wpp-counter;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 15px 15px 15px 0;
        background: rgba(255, 255, 124, calc((((var(--total-items) - (var(--item-position) - 1)) * 100)/var(--total-items))/100));
        box-sizing: border-box;
    }

    .in-preview-mode .wpp-sunrise li {
        margin: 0;
        padding: 15px 15px 15px 0;
    }

        .wpp-sunrise li .item-position::before {
            display: inline-block;
            flex: 1 0 0;
            content: counter(wpp-counter);
            color: rgba(0, 0, 0, 0.15);
            width: 40px;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: -1px;
            text-align: center;
        }

            .wpp-sunrise li .item-data .wpp-post-title {
                display: block;
                font-size: 15px;
                font-weight: 700;
                line-height: 1.3;
            }

            .wpp-sunrise li .item-data a {
                color: #2b2b09;
                text-decoration: none;
            }

            .wpp-sunrise li .item-data  a:hover {
                text-decoration: underline;
            }