.wpp-list {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

    .wpp-list li {
        list-style: none;
        margin: 0 0 1.2rem 0;
        padding: 0;
    }

    .wpp-list li:last-of-type {
        margin: 0;
    }

        .wpp-list li a,
        .wpp-list li a:hover {
            color: inherit;
            text-decoration: inherit;
        }

        .wpp-list li .wpp-post-title {
            font-size: 1.125rem;
            font-weight: 700;
            letter-spacing: -1px;
            line-height: 1.1;
        }

        .wpp-list li .wpp-item-data {
            opacity: 0.5;
            font-size: 0.65rem;
            text-transform: capitalize;
        }
