#wpp-message { display: none; }

/*
 * Navigation
 */
#wpp-menu {
    float: none;
    clear: both;
}

    #wpp-menu ul {
        text-align: center;
    }

        #wpp-menu ul li {
            padding: 0 15px 0 10px;
            margin: 0 0px;
            display: inline;
            border-right: #ddd 1px solid;
        }

        #wpp-menu ul li:first-child {
            display: none;
        }

        #wpp-menu ul li:last-child {
            border: none;
        }

            #wpp-menu ul li a {
            }

            #wpp-menu ul li.current a {
                color: #00a0d2;
                text-decoration: none;
            }

.wpp-wrapper {
    margin: 20px 20px 0 2px;
    -webkit-font-smoothing: subpixel-antialiased;
}

.wpp-lightbox {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    margin: -140px 0 0 -140px;
    padding: 15px;
    width: 250px;
    max-height: 280px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}

    .wpp-lightbox-tabs {
        margin: 0 0 25px 0;
        padding: 0 0 0 0;
        text-align: center;
    }

        .wpp-lightbox-tabs li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0 15px 0 10px;
            border-right: #ddd 1px solid;
        }

        .wpp-lightbox-tabs li:first-child {
            padding: 0 15px 0 0;
        }

        .wpp-lightbox-tabs li:last-child {
            padding: 0 0 0 10px;
            border-right: none;
        }

            .wpp-lightbox-tabs li.active a {
                color: #00a0d2;
                text-decoration: none;
            }

        .wpp-lightbox-tab-content {
            overflow: hidden;
            display: none;
            width: 100%;
        }

        .wpp-lightbox-tab-content-active {
            display: block;
        }

    .wpp-lightbox form {
        display: block;
    }

        .wpp-lightbox form input[type=text] {
            display: block;
            margin: 0 0 15px 0;
            width: 100%;
            box-sizing: border-box;
        }

.wpp-section-stats {
    position: relative;
}

    .wpp-section-stats .dashicons-admin-generic {
        position: absolute;
        top: 22px;
        left: 0;
        width: 21px;
        height: 21px;
        transition: transform 0.3s;
    }

    .wpp-section-stats .dashicons-admin-generic:hover {
        transform: rotate(360deg);
    }

    .wpp-header {
        overflow: hidden;
        display: block;
        padding: 25px 0 0 0;
    }

        .wpp-header h2,
        .wpp-header h3,
        .wpp-header h4,
        .wpp-header h5 {
            text-align: center;
        }

        .wpp-header h2 {
            margin: 0 0 5px 0;
            font-size: 1.0em;
            font-weight: 400;
            line-height: 1.0em;
        }

        .wpp-header h3 {
            margin: 0 0 30px 0;
            font-size: 3.5em;
            letter-spacing: -1px;
            line-height: 1.0em;
        }

        .wpp-header h4,
        #wpp-chart-wrapper h4 {
            margin: 0 0 8px 0;
            font-size: 2.0em;
            font-weight: 100;
            line-height: 1.0em;
            letter-spacing: -2px;
        }

        .wpp-header h5,
        #wpp-chart-wrapper h5 {
            margin: 0 0 0 0;
            font-size: 0.9em;
            font-weight: 300;
            line-height: 0.9em;
        }

        .wpp-header-nav {
            margin: 55px auto 0px auto;
            padding: 0;
            text-align: center;
        }

            .wpp-header-nav li {
                display: inline;
                list-style: none;
                margin: 0 4px;
                padding: 0;
            }

                .wpp-header-nav li a {
                    display: inline-block;
                    padding: 6px 12px 7px;
                    line-height: 1.1em;
                }

                .wpp-section-stats .wpp-header-nav li a:hover,
                .wpp-section-stats .wpp-header-nav li.current a {
                    color: #00a0d2;
                }

                .wpp-section-stats .wpp-header-nav li.current a {
                    text-decoration: none;
                }

    #wpp-chart-wrapper {
        width: 100%;
    }

        #wpp-chart-wrapper h4,
        #wpp-chart-wrapper h5 {
            text-align: center;
        }

        #wpp-chart-wrapper #wpp-chart {
            position: relative;
            overflow: hidden;
            margin: 20px auto 0 auto;
            width: 100%;
            height: 250px;
        }

            #wpp-chart-wrapper #wpp-chart p {
                margin: 0 10px;
                text-align: center;
            }

            #wpp-chart-wrapper #wpp-chart a:hover {
                text-decoration: underline;
            }

    .wpp-content {
        float: none;
        clear: both;
        width: 100%;
        background: #fff;
    }

        .wpp-content .wpp-tabbed-nav {
            overflow: hidden;
            margin: 0 0 0 0;
            padding: 0;
            background: #f9f9f9;
        }

            .wpp-content .wpp-tabbed-nav li {
                display: inline;
                float: left;
                margin: 0;
                padding: 0;
                width: 25%;
                border-bottom: #f0f0f0 1px solid;
            }

            .wpp-content .wpp-tabbed-nav li.active {
                border-bottom: #bbb 1px solid;
            }

                .wpp-content .wpp-tabbed-nav li a {
                    display: block;
                    padding: 15px;
                    font-size: 1.2em;
                    text-align: center;
                    text-decoration: none;
                    outline: none;
                    box-shadow: none;
                }

                    #wpp-listing .wpp-tabbed-nav li a .fa {
                        display: inline-block;
                        margin: 0 8px 0 0;
                    }

        .wpp-tab-content {
            display: none;
            overflow: hidden;
            padding: 2% 30px;
            width: 100%;
            box-sizing: border-box;
        }

        .wpp-tab-content-active {
            display: block;
        }

            .wpp-tab-content ul,
            .wpp-tab-content ol {
                margin: 0 0 0 0;
            }

                .wpp-tab-content ul li,
                .wpp-tab-content ol li {
                    margin: 0 1% 15px 1%;
                    padding: 0 0 10px 0;
                    border-bottom: #f0f0f0 1px solid;
                }

                .wpp-tab-content ul li:last-child,
                .wpp-tab-content ol li:last-child {
                    margin: 0 1%;
                    border: none;
                }

                    .popular-posts-list li > p > a {
                        font-size: 1.1em;
                        text-decoration: none;
                    }

                    .popular-posts-list li:first-child,
                    .popular-posts-list li:first-child > p > a {
                        font-size: 1.9em;
                    }

                    .popular-posts-list li:nth-child(2),
                    .popular-posts-list li:nth-child(2) > p > a {
                        font-size: 1.3em;
                    }

                    .popular-posts-list li:nth-child(3),
                    .popular-posts-list li:nth-child(3) > p > a {
                        font-size: 1.1em;
                    }

                    .popular-posts-list li:first-child > p > a,
                    .popular-posts-list li:nth-child(2) > p > a,
                    .popular-posts-list li:nth-child(3) > p > a {
                        font-weight: bold;
                        letter-spacing: -1px;
                    }

                    .popular-posts-list li > p > a:hover {
                        text-decoration: underline;
                    }

                    .popular-posts-list li > p > span {
                        color: #bbb;
                        font-size: 13px;
                    }

                    .popular-posts-list li > p > small {
                        display: none;
                    }

                    .popular-posts-list li:hover > p > small {
                        display: inline;
                    }

#wpp_params {}

    #wpp_params div {
    }

        #wpp_params div table {
            width: 100%;
            min-width: 800px;
            background: white;
        }

            #wpp_params div table tr th {
                font-size: 1.2em;
                text-align: left;
                border-bottom: #dedede 1px solid;
            }

            #wpp_params div table tr th,
            #wpp_params div table tr td {
                padding: 1em;
            }

            #wpp_params div table tr td {
                position: static !important;
                clear: none !important;
                display: table-cell !important;
                vertical-align: top;
            }

.clear {
    float:none;
    clear:both;
    width:100%;
}

/*
 * Media Queries
 */

/* Small devices */
@media only screen and (max-width: 480px){

}

/* Tablets & small desktops */
@media only screen and (max-width: 768px) {

    .wpp-wrapper {
        margin: 20px 12px 0 2px;
    }

        #wpp-listing .wpp-tabbed-nav li a span:last-child {
            display: none;
        }

        #wpp-listing .wpp-tabbed-nav li a .fa {
            margin: 0 0 0 0;
        }

}

/* Medium desktops, Large desktops & other devices */
@media only screen and (max-width: 992px) { /* 960 + 16 + 16 */

}
